volturaos/docs/n8n-workflows/daily-schedule-agent.json
{
  "name": "Voltura - Daily Schedule Brief",
  "active": false,
  "nodes": [
    {
      "id": "node-schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 7 * * *"
            }
          ]
        },
        "timezone": "America/Denver"
      }
    },
    {
      "id": "node-get-todays-jobs",
      "name": "Get Today's Jobs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300],
      "parameters": {
        "method": "GET",
        "url": "={{$env.SUPABASE_URL}}/rest/v1/jobs",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "select",
              "value": "id,job_type,status,scheduled_time,customers(name,phone,address)"
            },
            {
              "name": "scheduled_date",
              "value": "=eq.{{$now.format('yyyy-MM-dd')}}"
            },
            {
              "name": "status",
              "value": "=not.in.(Cancelled,Completed,Paid)"
            },
            {
              "name": "order",
              "value": "scheduled_time.asc"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.SUPABASE_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.SUPABASE_KEY}}"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "node-format-brief-claude",
      "name": "Format Brief with Claude",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [680, 300],
      "parameters": {
        "promptType": "define",
        "text": "=You are a field operations assistant for Voltura Power Group.\n\nToday's jobs from the database:\n{{ JSON.stringify($json) }}\n\nWrite a concise morning brief for the owner/technician. Include:\n- Number of jobs today\n- Each job: customer name, job type, time (if set), address\n- Any back-to-back jobs flagged\n- A motivational one-liner at the end\n\nFormat with Telegram Markdown. Use bold for customer names. Keep it under 300 words.",
        "options": {
          "systemMessage": "You are a field operations assistant for Voltura Power Group. Be concise and practical."
        }
      },
      "credentials": {
        "anthropicApi": {
          "name": "Anthropic account"
        }
      }
    },
    {
      "id": "node-claude-model",
      "name": "Anthropic Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [680, 480],
      "parameters": {
        "model": "claude-sonnet-4-20250514",
        "options": {}
      },
      "credentials": {
        "anthropicApi": {
          "name": "Anthropic account"
        }
      }
    },
    {
      "id": "node-send-telegram",
      "name": "Send to Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [900, 300],
      "parameters": {
        "chatId": "7691231869",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "credentials": {
        "telegramApi": {
          "name": "Telegram account"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Today's Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Today's Jobs": {
      "main": [
        [
          {
            "node": "Format Brief with Claude",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Brief with Claude": {
      "main": [
        [
          {
            "node": "Send to Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Format Brief with Claude",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-04-14T00:00:00.000Z",
  "versionId": "1"
}
