volturaos/docs/n8n-workflows/weekly-business-summary.json
{
  "name": "Voltura - Weekly Business Summary",
  "active": false,
  "nodes": [
    {
      "id": "node-schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * 1"
            }
          ]
        },
        "timezone": "America/Denver"
      }
    },
    {
      "id": "node-get-revenue",
      "name": "Get This Month Revenue",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 160],
      "parameters": {
        "method": "GET",
        "url": "={{$env.SUPABASE_URL}}/rest/v1/invoice_payments",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "select",
              "value": "amount,paid_at"
            },
            {
              "name": "paid_at",
              "value": "=gte.{{$now.startOf('month').toISO()}}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.SUPABASE_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.SUPABASE_KEY}}"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "node-get-outstanding",
      "name": "Get Outstanding Invoices",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300],
      "parameters": {
        "method": "GET",
        "url": "={{$env.SUPABASE_URL}}/rest/v1/invoices",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "select",
              "value": "total,balance,status,customers(name)"
            },
            {
              "name": "status",
              "value": "=in.(Unpaid,Partial)"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.SUPABASE_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.SUPABASE_KEY}}"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "node-get-active-jobs",
      "name": "Get Active Jobs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 440],
      "parameters": {
        "method": "GET",
        "url": "={{$env.SUPABASE_URL}}/rest/v1/jobs",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "select",
              "value": "status,job_type,customers(name)"
            },
            {
              "name": "status",
              "value": "=not.in.(Completed,Invoiced,Paid,Cancelled)"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.SUPABASE_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.SUPABASE_KEY}}"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "node-get-estimates",
      "name": "Get Pending Estimates",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 580],
      "parameters": {
        "method": "GET",
        "url": "={{$env.SUPABASE_URL}}/rest/v1/estimates",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "select",
              "value": "total,status,customers(name)"
            },
            {
              "name": "status",
              "value": "=in.(Draft,Sent,Viewed,Approved)"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.SUPABASE_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.SUPABASE_KEY}}"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "node-merge",
      "name": "Merge All Data",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [680, 370],
      "parameters": {
        "mode": "combine",
        "combinationMode": "multiplex",
        "options": {}
      }
    },
    {
      "id": "node-build-summary-claude",
      "name": "Build Summary with Claude",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [900, 370],
      "parameters": {
        "promptType": "define",
        "text": "=You are a business intelligence assistant for Voltura Power Group, an electrical contracting company.\n\nThis week's data:\n- Payments this month: {{ JSON.stringify($node[\"Get This Month Revenue\"].json) }}\n- Outstanding invoices: {{ JSON.stringify($node[\"Get Outstanding Invoices\"].json) }}\n- Active jobs: {{ JSON.stringify($node[\"Get Active Jobs\"].json) }}\n- Pending estimates: {{ JSON.stringify($node[\"Get Pending Estimates\"].json) }}\n\nWrite a sharp Monday morning business summary. Include:\n- Month-to-date revenue total\n- Outstanding balance (total owed)\n- Active job count and types\n- Estimate pipeline value (sum of Approved estimates)\n- Top priority action item (biggest overdue invoice or oldest stuck lead)\n- One sentence on business health\n\nFormat with Telegram Markdown. Bold the numbers. Keep it punchy — this is a busy owner reading on their phone.",
        "options": {
          "systemMessage": "You are a business intelligence assistant for Voltura Power Group. Be sharp, concise, and actionable."
        }
      },
      "credentials": {
        "anthropicApi": {
          "name": "Anthropic account"
        }
      }
    },
    {
      "id": "node-claude-model",
      "name": "Anthropic Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [900, 560],
      "parameters": {
        "model": "claude-sonnet-4-20250514",
        "options": {}
      },
      "credentials": {
        "anthropicApi": {
          "name": "Anthropic account"
        }
      }
    },
    {
      "id": "node-send-telegram",
      "name": "Send to Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1120, 370],
      "parameters": {
        "chatId": "7691231869",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "credentials": {
        "telegramApi": {
          "name": "Telegram account"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get This Month Revenue",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Outstanding Invoices",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Active Jobs",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Pending Estimates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get This Month Revenue": {
      "main": [
        [
          {
            "node": "Merge All Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Outstanding Invoices": {
      "main": [
        [
          {
            "node": "Merge All Data",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Get Active Jobs": {
      "main": [
        [
          {
            "node": "Merge All Data",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Get Pending Estimates": {
      "main": [
        [
          {
            "node": "Merge All Data",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Merge All Data": {
      "main": [
        [
          {
            "node": "Build Summary with Claude",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Summary with Claude": {
      "main": [
        [
          {
            "node": "Send to Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Build Summary with Claude",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-04-14T00:00:00.000Z",
  "versionId": "1"
}
